/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/Staging/
/TestBuilds/

AerialExplorerVR.sdf
AerialExplorerVR.sln
AerialExplorerVR.suo
AerialExplorerVR.opensdf
AerialExplorerVR.v12.suo

*~


